
    <div class="row">
        <div class="col-12">
            <h1 class="mainText">Article Scraper</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 articles">

        </div>
        <div class="col-1"></div>
    </div>







